#root{
  margin: 0 auto;
  text-align: center;
}
.todoCard{
  display: inline-block;
  width: 200px;
  height: 150px;
  border: 1px solid green;
  border-radius: 15%;
  text-align: center;
  margin-right: 20px;
}